[Unit]
Description=Email notification on unit failure

[Service]
Type=oneshot
EnvironmentFile=/etc/default/%p
ExecStart=/bin/bash -c '/bin/systemctl status %i | $MAIL -s "Unit %i on %H failed." $RECIPIENTS 2>&1'

